*{
    margin: 0;
    padding: 0;
}

@import './variables/colores';
@import './variables/tamanios';
@import './variables/extend';
@import './variables/mixins';

@import './index';
@import './secciones/contacto';
@import './secciones/galeria';
@import './secciones/quienes\ somos';
@import './secciones/roda\ con\ nosotros';







/* RESPONSIVE DESIGN - MEDIA QUERY - MOBILE LAST = MAX WIDTH */
@media (max-width: 768px){
    .servicios{
        flex-direction: column;
        align-items: center;
    }
}
