#body{
    #navbarNavDropdown{
        display: flex;
        justify-content: flex-end;
    }
}




body{
    div{
        .lead{
            display: flex;
            justify-content: flex-start;
            font-size: 2rem;
            background-color: $fondosDivs;
            padding: 25px;
        }
    }
}